/* Sobre */
.text--about {
    padding-right: 10px;
}

.about__image img {
    max-width: 300px;
}

/* Serviços */
main.box__services {
    column-gap: 10px;
    justify-content: space-evenly;
}

.services__item {
    padding: 5px;
    max-width: 200px;
    max-height: 250px;
    border-radius: 5px;
}

.services__item .caption-svc  {
    padding-bottom: 15px;
}

.services__item .btn-svc  {
    margin-top: 15px;
}

/* Preço */
.price__bg {
    width: 80%;
    margin: auto;
}

.price__border-desktop {
    flex-direction: column;
    padding: 0;
    border: none;
}

.price__border-mobile {
    width: 100%;
    max-width: none;
    border: 1px solid #F18836;
    padding: 30px;
}

.linha-vertical {
    width: 160px;
    height: 0;
    margin: 20px auto;
    border: 1px solid #F18836;
}


/* contato */
.box__contact {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.contact__infor {
    width: 70%;
}

.maps {
    width: 70%;
}

/* Footer */
.logo__footer {
    width: 200px;
    margin-top: 300px;
}